body{
    text-align: center;
    background-color: #66BFBF;
    font-family: sans-serif;
}

h1{
    font-size: 90px;
    font-family: "Sacramento", cursive;
    color: blueviolet;

}

p{
    width: 50%;
    margin: 0 auto 0 auto;
    line-height: 2;
    font-size: 1rem;
}

img{
    border-radius: 100%;
    width: 15%;
    margin-top: 20px;
}

hr{
    width: 10%;
    border-style: none;
    border-top-style: dotted;
    border-width: 7px;
    border-color: grey;

}